h1 {
    text-align: left;
    background-color: white;
    color: turquoise;
    font-style: sans-serif;
  }
  
  h2 {
    color: deeppink;
  }
  
  h3 {
    text-align: center;
    color: turquoise;
  }



  img {
    padding: 1em;
    margin: 1em;
  }
  
  section {
    background-color: rgb(228, 229, 236);
  }
  
  p {
    font-size: 15px;
    color: gray;
    font-style: sans-serif;
  }
  
  ul {
    border-style: solid;
    color: gray;
  }

  ul li {
    text-align: right;
  }

  header {
    border: solid px;
    height: 400px; 
  }
  

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}


#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}
